.glassFrame {
    position: relative;
    width: 100%;
    border-radius: 80px;
    padding: 54px 0;
    border: 1px solid oklch(1 0 0);
    box-shadow:
        0px 5.31px 15.94px 0px oklch(1 0 0 / 0.2) inset,
        0px 15px 40px 0px oklch(0 0 0 / 0.1);
    background: oklch(1 0 0 / 0.2);
    backdrop-filter: blur(10px) saturate(120%);
    height: 460px;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.glassFrame__overlay {
    position: absolute;
    inset: 0;
    border-radius: 80px;
    padding: 54px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glassFrame__status {
    padding: 12px 18px;
    background-color: oklch(0.6058 0.23045 259.4745);
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    color: oklch(1 0 0);
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: center;
    position: relative;
}

.glassFrame__statusFigure {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.glassFrame__status span {
    font-weight: 400;
}

.glassFrame__overlayContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glassFrame__overlayLeft {
    width: 50%;
    height: 100%;
    position: relative;
}

.glassFrame__overlayLeft::after {
    content: '';
    position: absolute;
    inset: 0;
    background:
        radial-gradient(ellipse 45% 85% at 100% 50%, oklch(0.6058 0.23045 259.4745) -10%, transparent 45%),
        linear-gradient(to left, oklch(1 0 0 / .9) 10%, transparent 75%);
    z-index: 1;
}

.glassFrame__overlayLeft::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    width: 50%;
    backdrop-filter: blur(5px);
    mask: linear-gradient(to right, transparent 0%, black 100%);
    z-index: 2;
}

.glassFrame__dot {
    width: 3px;
    height: 3px;
    background-color: oklch(1 0 0);
    border-radius: 50%;
    position: absolute;
    z-index: 3;
}

.glassframe__line {
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, oklch(0.6058 0.23045 259.4745) 50%, oklch(1 0 0) 100%);
    z-index: 1;
}

.glassFrame__overlayRight {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    overflow: hidden;
    position: relative;
}

.glassFrame__overlayRight::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 10%;
    backdrop-filter: blur(3px);
    mask: linear-gradient(to left, transparent 50%, black 100%);
    z-index: 2;
}

.glassFrame__row {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
}

.glassFrame__row:nth-child(1) {
    transform: translateX(-100px);
}

.glassFrame__row:nth-child(2) {
    transform: translateX(-110px);
}

.glassFrame__row:nth-child(3) {
    transform: translateX(-280px);
}

.glassFrame__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding: 0 0 0 63px;
}

.glassFrame__text {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.02em;
    white-space: nowrap;
}

.glassFrame__button {
    width: max-content;
    padding: 12px 20px 12px 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: center;
  }