.container {
    position: relative;
    width: 360px;
    height: 360px;
}
.hero__lens {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border-top: 1px solid oklch(1 0 0 / 90%);
    border-left: 1px solid oklch(1 0 0 / 90%);
    box-shadow:
      0px 3px 10px 0px oklch(1 0 0 / 0.2) inset,
      1px 1px 10px 0px oklch(1 0 0 / 0.4) inset,
      0px 10px 50px 0px oklch(0 0 0 / 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 27px;
    z-index: 1;
}

.hero__lensContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.hero__title {
    color: oklch(1 0 0);
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}

.hero__description {
    color: oklch(1 0 0 / 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}

.hero__ctaButton {
    padding: 12px 20px;
    color: oklch(1 0 0) !important;
    width: fit-content !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: center;
    /* border: none !important; */
    /* border-top: 1px solid oklch(1 0 0 / 60%) !important; */
    /* border-left: 1px solid oklch(1 0 0 / 60%) !important; */
}